#error_explanation {
    color: #a94442;
    background-color: #f2dede;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

#error_explanation h2 {
   font-size: 1em;
   font-weight: bold;
}
